@page
@using EggBasket.Areas.Identity.Data
@model EggBasket.Pages.Credentials.IndexModel
@inject UserManager<EggBasketUser> user
@inject EggBasket.Data.ApplicationDbContext _usersContext;
@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Credential[0].username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credential[0].password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credential[0].secureNote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var userResult = user.FindByEmailAsync(User.Identity.Name);

            string role = _usersContext.UserRoles.Where(r => r.UserId == userResult.Result.Id).First().RoleId;
        }
        @foreach (var item in Model.Credential)
        {
            //If public 
            @if (item.personal == false) {
                @if (item.roleID == role && item.company == userResult.Result.CompanyName)
                {
                    <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.secureNote)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
                }
            }
            else {
                @if (userResult.Result.Id == item.userId)
                {
                    <tr>
                        <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.secureNote)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
                }
            }
        }
    </tbody>
</table>

