@page
@using EggBasket.Areas.Identity.Data
@model EggBasket.Pages.Credentials.IndexModel
@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Password
            </th>
            <th>
                Secure Note
            </th>
            <th>
                Share
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Credential)
        {
                    <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.secureNote)
                    </td>
                    <td>
                        <form class="form-inline" asp-page-handler="Share" method="post">
               
               <input  type="hidden" name="credentialID" value="@item.ID" />
               <input  type="submit" value="Share" asp-page-handler="Share"/>
               <input  name="email" type="text" class="form-control" placeholder="Email" aria-label="Input group example" aria-describedby="basic-addon1">
                </form>
               
                
              </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>

                </tr>
        }
    </tbody>
</table>
